

// params can be overriden using CLI flags (e.g. -output_dir 'ext/out')
params {
    registry = ''
    input_dir = 'data/raw/fhir_stu3/'
    yml_mappings = 'data/mappings.yml'
    output_dir = 'data/out/'
}

podman {
    enabled = true
    temp = 'auto'
    runOptions = '--user=root --entrypoint=""'
    mountFlags = 'Z'
}

process {
    shell = ['/bin/sh']
    withName: convert_mappings {
        container = "${params.registry}/yarrrml-parser:latest"
    }
    withName: generate_triples {
        container = "${params.registry}/rmlstreamer:2.4.1"
    }

}

manifest {
    homePage = "https://github.com/SDSC-ORD/demo_biomedit_workflow"
    description = "demo workflow"
    version = "0.1.0"
    author = "cmdoret"
}

// Automatic log generation upon workflow complete
workflow.onComplete = {
    // Define log structure
    workflow.with {
        msg = """\
            {
                "status": "${success}",
                "duration": "${duration}",
                "start": "${start}",
                "complete": "${complete}",
                "workDir": "${workDir}",
                "exit": "${exitStatus}",
                "error": "${errorReport ?: 'null'}",
                "command": "${commandLine}",
                "repository": "${repository ?: 'null'}",
                "commit": "${commitId ?: 'null'}",
                "stats": "${stats}",
                "manifest": {
                    "version": "${manifest.version}",
                    "author": "${manifest.author}",
                    "homePage": "${manifest.homePage}"

                },
                "nextflow": {
                    "version": "${nextflow.version}",
                    "build": "${nextflow.build}"
                }
            }
            """.stripIndent()
    }
        File logFile = new File("${params.output_dir}/logs.json")
        logFile.write msg
}